.m_category-description
  position relative
  border 8px solid #e6e6e6
  margin 15px 0
  padding 15px
  @media SM
    margin 25px 0
    padding 25px
    padding-left 150px
  @media LG
    margin-top 60px
    margin-bottom 60px
  p:last-child
    margin-bottom 0
  .category-icon
    display none
    @media SM
      display block
      position absolute
      left 25px
      top 25px
      width 100px
      height 100px
      text-align center
      line-height 100px
      background #e6e6e6
      border-radius 50%
    img
      max-height 100%
      max-width 100%
      display inline-block
      vertical-align middle