.share-post
  text-align center
  padding 15px 0
  margin-top 15px
  h2
    font-size 30px
    line-height 1
    display block
    margin-bottom 15px
    @media SM
      font-size 40px
    br
      @media MD
        display none
  .like-counter
    font-size 24px
    margin-right 30px
  .like-counter,
  .social-buttons
    display inline-block
    vertical-align middle