// Custom
$radius = 2px

$wrapper = 1200px

$green = #91ad05
$orange = #fd9e28
$yellow = #ffde00

// Media quries
LG = "only screen and (min-width: 1200px)"
MD = "only screen and (min-width: 992px)"
SM = "only screen and (min-width: 768px)"
XS = "only screen and (min-width: 480px)"
