-
  var lead_recipes = [
    // meat
    {
      image: 'images/content/recipe-1.jpg',
      title: 'Гуляш из свинины с шампиньонами',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-2.jpg',
      title: 'Мясо по‑бургундски',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-3.jpg',
      title: 'Тушеная баранина в духовке с овощами по-армянски',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-4.jpg',
      title: 'Баранья нога с тархуном',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-5.jpg',
      title: 'Митлоф из говяжьего фарша',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-6.jpg',
      title: 'Бифштекс из отварного мяса с луком',
      like_counter: '210',
      type: 'meat'
    },
    // fish
    {
      image: 'images/content/recipe-7.jpg',
      title: 'Дорада в духовке с лимоном и базиликом',
      like_counter: '210',
      type: 'fish'
    },
    {
      image: 'images/content/recipe-8.jpg',
      title: 'Форель в соево-медовом маринаде',
      like_counter: '210',
      type: 'fish'
    },
    {
      image: 'images/content/recipe-9.jpg',
      title: 'Рыба с овощами по‑провански',
      like_counter: '210',
      type: 'fish'
    },
    {
      image: 'images/content/recipe-10.jpg',
      title: 'Дорада на помидорах с картофелем',
      like_counter: '210',
      type: 'fish'
    },
    {
      image: 'images/content/recipe-11.jpg',
      title: 'Стейк из тунца с гарниром из брюссельской капусты',
      like_counter: '210',
      type: 'fish'
    },
    // vegan
    {
      image: 'images/content/recipe-12.jpg',
      title: 'Пхали из зеленой фасоли с орехами',
      like_counter: '210',
      type: 'vegan'
    },
    {
      image: 'images/content/recipe-13.jpg',
      title: 'Фасоль в томате',
      like_counter: '210',
      type: 'vegan'
    },
    {
      image: 'images/content/recipe-14.jpg',
      title: 'Пряный картофель по‑деревенски в духовке',
      like_counter: '210',
      type: 'vegan'
    },
    {
      image: 'images/content/recipe-15.jpg',
      title: 'Тыквенный карри с нутом и цукини',
      like_counter: '210',
      type: 'vegan'
    },
    // dessert
    {
      image: 'images/content/recipe-16.jpg',
      title: 'Шоколадные маффины с какао',
      like_counter: '210',
      type: 'dessert'
    },
    {
      image: 'images/content/recipe-17.jpg',
      title: 'Маффины с голубикой',
      like_counter: '210',
      type: 'dessert'
    },
    {
      image: 'images/content/recipe-18.jpg',
      title: 'Творожный кекс с яйцами',
      like_counter: '210',
      type: 'dessert'
    },
    {
      image: 'images/content/recipe-19.jpg',
      title: 'Овсяное печенье из Starbucks',
      like_counter: '210',
      type: 'dessert'
    }
  ]

-
  var lead_secrets = [
    {
      image: 'images/content/secret-1.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
      type: 'cond'
    },
    {
      image: 'images/content/secret-2.png',
      title: 'Гвоздика',
      desc: 'В Европу гвоздика была завезена в XI веке. Первые упоминания об этом растении были найдены еще в китайских справочниках, датированных началом нашей эры. В Португалии и Голландии гвоздику относят к экзотическим приправам.',
      type: 'cond'
    },
    {
      image: 'images/content/secret-3.png',
      title: 'Горчица',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'cond'
    },
    {
      image: 'images/content/secret-2.png',
      title: 'Факт #1',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'facts'
    },
    {
      image: 'images/content/secret-3.png',
      title: 'Факт #2',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'facts'
    },
    {
      image: 'images/content/secret-1.png',
      title: 'Факт #3',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'facts'
    },
    {
      image: 'images/content/secret-3.png',
      title: 'Новость #1',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'news'
    },
    {
      image: 'images/content/secret-1.png',
      title: 'Новость #2',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'news'
    },
    {
      image: 'images/content/secret-2.png',
      title: 'Новость #3',
      desc: 'Первые сведения о горчице найдены в таком авторитетном источнике, как Библия, а именно в Евангелиях от Матфея и Марка. Семена этого растения были найдены в киммерийской посуде при раскопках недалеко от Багдада.',
      type: 'news'
    }
  ]

-
  var blog_items = [
    {
      image: 'images/content/secret-1.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-2.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-3.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-2.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-1.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-3.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    }
  ]

-
  var blog_similar_items = [
    {
      image: 'images/content/secret-1.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-2.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    },
    {
      image: 'images/content/secret-3.png',
      title: 'Базилик',
      desc: 'В Россию базилик был завезен в начале XVII века, но история этого невзрачного 50-сантиметрого растения гораздо длиннее. Это растение было известно еще в древние времена, когда, благодаря его лечебным свойствам, оно считалось магическим.',
    }
  ]

-
  var category_recipes = [
    // meat
    {
      image: 'images/content/recipe-1.jpg',
      title: 'Гуляш из свинины с шампиньонами',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-2.jpg',
      title: 'Мясо по‑бургундски',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-3.jpg',
      title: 'Тушеная баранина в духовке с овощами по-армянски',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-4.jpg',
      title: 'Баранья нога с тархуном',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-5.jpg',
      title: 'Митлоф из говяжьего фарша',
      like_counter: '210',
      type: 'meat'
    },
    {
      image: 'images/content/recipe-6.jpg',
      title: 'Бифштекс из отварного мяса с луком',
      like_counter: '210',
      type: 'meat'
    }
  ]

-
  var top_recipes = [
    {
      image: 'images/content/recipe-7.jpg',
      title: 'Дорада в духовке с лимоном и базиликом',
      like_counter: '210',
      type: 'fish'
    },
    {
      image: 'images/content/recipe-8.jpg',
      title: 'Форель в соево-медовом маринаде',
      like_counter: '210',
      type: 'fish'
    },
    {
      image: 'images/content/recipe-9.jpg',
      title: 'Рыба с овощами по‑провански',
      like_counter: '210',
      type: 'fish'
    }
  ]