extends _layout

block settings
  - var title = 'Где купить';
  - var header_fixed = false;

block content
  .m_address
    .wrapper
      .section-title.center
        h2 где можно купить
      .address-list
        .item
          .image
            a(href="#")
              img(src="images/content/address-1.png", alt="")
          .details
            .title Ашан Сити и Ашан Гипермаркет в городах:
            .desc
              p Москва, Сагкт-Петербург, Екатеринбург, Нижний Новгород, Самара, Ростов, Краснодар, Новосибирск, Омск, Калуга, Пенза, Уфа, Казань, Воронеж, Челябинск, Рязань, Ульяновск, Волгоград, Тюмень, Ярославль, Кострома, Иваново, Ижевск, Саратов, Липецк, Тамбов, Пермь, Южная, Балашов, Барнаул, Магнитогорск, Владимир, Белгород, Новокузнецк, Саранск, Красноярск, Курск.
              p <a href="#">Смотреть адреса</a>, а также в&nbsp;<a href="#">интернет-магазине</a>.
        .item
          .image
            a(href="#")
              img(src="images/content/address-2.png", alt="")
          .details
            .title Все гипермаркеты Карусель
            .desc
              p: a(href="#") Смотреть адреса
        .item
          .image
            a(href="#")
              img(src="images/content/address-3.png", alt="")
          .details
            .title Все гипермаркеты Лента
            .desc
              p: a(href="#") Смотреть адреса
        .item
          .image
            a(href="#")
              img(src="images/content/address-4.png", alt="")
          .details
            .title Все супермаркеты и гипермаркеты Магнит
            .desc
              p: a(href="#") Смотреть адреса
