extends _layout

block settings
  - var title = 'Статья (Лайфхак)';
  - var header_fixed = true;

block content
  .m_lead-section
    .back-image(style="background-image: url('images/content/back-image-article.png')")
    .front
      .center
        .title Как выбирать мясо
  .content
    article
      p Выбрать правильное мясо – целая наука, постигать которую можно всю жизнь. И если начинающей хозяйке все мясо на прилавке  кажется одинаковым, то хозяйка опытная умеет не просто отличать говядину от свинины, но и выбрать самый лучший кусок на всем рынке. Именно на рынке, потому что покупать мясо в супермаркете специалисты вообще не рекомендуют. Приобретать замороженное расфасованное мясо – все равно, что играть в русскую рулетку. Никогда не угадаешь, правильно ли и как долго такое мясо  хранилось, чем кормили животных, из которых оно сделано, сколько в нем антибиотиков и гормонов.
      p Положа руку на сердце, признаем, что и на рынке есть возможность купить некачественное мясо. Поэтому  в идеале стоит свести знакомство с каким-нибудь мясником. Как правило, мясники, несмотря на серьезность профессии, люди добрые, и всегда готовы поделиться секретами выбора правильного мяса с искренне заинтересованным покупателем. Не обязательно дружить с мясником семьями, но пара приветливых фраз при каждой встрече – и вы больше можете не беспокоиться о качестве покупаемого мяса. Сами мясники нередко отмечают, что многие покупатели вовсе не спешат воспользоваться их советами. Такие покупатели при выборе руководствуются собственными представлениями о хорошем мясе. Неудивительно, что они чаще всего уходят с рынка с продуктом самого низкого качества.
      p Первое, на что обычно обращают внимание при покупке мяса – это его цвет. Но такой подход – это дилетантство. Цвет мяса очень важен, но начинать нужно с другого. Самое главное – выбрать ту часть туши, мясо из которой будет оптимально подходить для задуманного вами блюда. Именно поэтому мясники часто интересуются, что вы собираетесь приготовить, и лишь потом предлагают тот или иной отруб. Нежная вырезка – это отличное мясо, но не в том случае, когда вы собираетесь сварить холодец. Можно купить отличный кусок говядины и безнадежно загубить его в ходе приготовления. Поэтому сперва высматриваем на прилавке нужный отруб, а потом начинаем исследовать его на пригодность.       
    .share-post
      h2 Понравилась статья?&nbsp;<br>Расскажите о ней друзьям!
      .like-counter
        button 2356
      .social-buttons
        a(class="vk" href="#")
        a(class="fb" href="#")
        a(class="ok" href="#")
  .m_items
    .wrapper
      .section-title.center
        h2 Другие лайфхаки
      -
        var article_items = [
          {
            image: 'images/content/lh-1.png',
            title: 'Как сделать свинину нежной',
            like_counter: '12'
          },
          {
            image: 'images/content/lh-2.png',
            title: 'Люля-кебаб разваливается. Что делать?',
            like_counter: '23'
          },
          {
            image: 'images/content/lh-3.png',
            title: 'Раскочегариваем угли на максимум',
            like_counter: '34'
          },
          {
            image: 'images/content/lh-4.png',
            title: 'Как выбирать мясо',
            like_counter: '56'
          },
          {
            image: 'images/content/lh-1.png',
            title: 'Как сделать свинину нежной',
            like_counter: '12'
          },
          {
            image: 'images/content/lh-2.png',
            title: 'Люля-кебаб разваливается. Что делать?',
            like_counter: '23'
          },
          {
            image: 'images/content/lh-3.png',
            title: 'Раскочегариваем угли на максимум',
            like_counter: '34'
          },
          {
            image: 'images/content/lh-4.png',
            title: 'Как выбирать мясо',
            like_counter: '56'
          }
        ]
      .columns
        each item in article_items
          .item
            .image(style="background-image: url("+item.image+")"): a(href="#")
            .bottom
              .title: a(href="#") #{item.title}
              .like-counter
                button #{item.like_counter}
      .details
        a(class="btn" href="#") Смотреть еще лайфхаки
