extends _layout

block settings
  - var title = 'Продукты';
  - var header_fixed = true;

block content
  .m_lead-section
    .back-image(style="background-image: url('images/content/back-image-article.png')")
    .front
      .center
        .title продукты серии «Вкус огня»
  .m_products-list
    .wrapper
      .list-item
        .product-header
          .image
            img(src="images/content/product-list-1.png" alt="")
          .text
            .category Маринад для овощей
            .title Овощи на углях
        .m_product-description
          .column
            .title Ингредиенты
            .body
              p Панировочные сухари (мука пшеничная (содержит глютен), соль, вода, дрожжи, ароматизатор), чеснок, мука пшеничная (содержит глютен), соль, горчица, яичный порошок, сладкая паприка, мускатный орех, молоко сухое обезжиренное, пальмовое масло
              p Продукт может содержать сельдерей, сою.
              ul
                li Пищевая ценность 100 г продукта:
                li белки: 13,8 г
                li жиры: 3,2 г
                li углеводы: 62,1 г
                li энергетическая ценность: 345 ккал
          .column
            .title Описание
            .body
              p Нежное мясо рыбы сохранит свой вкус, питательность и натуральную сочность, если ее обжарить в золотистой панировке KAMIS. Содержащиеся в панировке приправы придают блюдам неповторимый вкус и аромат. Составные элементы панировки препятствуют излишнему впитыванию жира во время жарения.
      .list-item
        .product-header
          .image
            img(src="images/content/product-list-2.png" alt="")
          .text
            .category Маринад для шашлыка и гриля
            .title Говядина на углях
        .m_product-description
          .column
            .title Ингредиенты
            .body
              p Панировочные сухари (мука пшеничная (содержит глютен), соль, вода, дрожжи, ароматизатор), чеснок, мука пшеничная (содержит глютен), соль, горчица, яичный порошок, сладкая паприка, мускатный орех, молоко сухое обезжиренное, пальмовое масло
              p Продукт может содержать сельдерей, сою.
              ul
                li Пищевая ценность 100 г продукта:
                li белки: 13,8 г
                li жиры: 3,2 г
                li углеводы: 62,1 г
                li энергетическая ценность: 345 ккал
          .column
            .title Описание
            .body
              p Нежное мясо рыбы сохранит свой вкус, питательность и натуральную сочность, если ее обжарить в золотистой панировке KAMIS. Содержащиеся в панировке приправы придают блюдам неповторимый вкус и аромат. Составные элементы панировки препятствуют излишнему впитыванию жира во время жарения.
      .list-item
        .product-header
          .image
            img(src="images/content/product-list-3.png" alt="")
          .text
            .category Маринад для шашлыка и гриля
            .title Курица на углях
        .m_product-description
          .column
            .title Ингредиенты
            .body
              p Панировочные сухари (мука пшеничная (содержит глютен), соль, вода, дрожжи, ароматизатор), чеснок, мука пшеничная (содержит глютен), соль, горчица, яичный порошок, сладкая паприка, мускатный орех, молоко сухое обезжиренное, пальмовое масло
              p Продукт может содержать сельдерей, сою.
              ul
                li Пищевая ценность 100 г продукта:
                li белки: 13,8 г
                li жиры: 3,2 г
                li углеводы: 62,1 г
                li энергетическая ценность: 345 ккал
          .column
            .title Описание
            .body
              p Нежное мясо рыбы сохранит свой вкус, питательность и натуральную сочность, если ее обжарить в золотистой панировке KAMIS. Содержащиеся в панировке приправы придают блюдам неповторимый вкус и аромат. Составные элементы панировки препятствуют излишнему впитыванию жира во время жарения.