.m_rss-form
  .title Получай вдохновляющие рецепты от Kamis на почту
  form
    input(type="email" placeholder="Ваш e-mail")
    button(class="button" type="submit") Подписаться
  .copyright © 2018, Камис
