header(class=header_fixed?"m_header pos-abs":'m_header')
  .wrapper
    .logo
      a(href="#")
    .menu
      nav
        .menu-mobile
          .btn-mobile-menu: i
        ul
          li: a(href="#") Голосование
          li: a(href="#") Правила и призы
          li: a(href="#") Победители
          li: a(href="#") Лайфхаки
          li: a(href="#") Рецепты
          li: a(href="#") Продукты
          li: a(href="#") Где купить?